* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pressstart2p;
    src: url(PressStart2P-Regular.ttf);
}

body {
    background-color: black;
    font-family: pressstart2p;
}

img {
    border-radius: 5%;
    width: 320px;
    height: 320px;
    border: solid 1px #FFFC00;
}

h1 {
    margin-bottom: 8px;
    font-size:medium
}

p {
    font-size: x-small;
}

ul {
    margin-top: 35px;
}

li {
    margin-bottom: 18px;
    list-style: none;
}

a {
    background-color: #0003FF;
    color: #FFFC00;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

a:hover {
    background-color: #FFFC00;
    color: #0003FF;
}

footer {
    color: white;
}

.description {
    background-color: #FFFC00;
    color:#0003FF;
    border-radius: 5px;
    padding: 5px;
    margin-top: 31px;
}

.container {
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}